body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  
}
.icon-mail:before {
  content: "\e900";
  font-size: 32px;
 
}
.icon-menu:before {
  content: "\e901";
  font-size: 32px;
}

.header span{
  color: black;
  background: #41489f;
  width: 20px;
  height: 20px;
  
}
.icon-menu{
  font-size: 16px;
  color: black;
}
.container{
  background:#6c74c5;;
  display: grid;
  grid-template: 100px 1fr 150px / 0px 1fr; 
  grid-gap: 10px;
  grid-template-areas: 'header header'
                       '. contenido'
                       'footer footer' ;
}
.item{
 
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}


.header{
  grid-area: header;
}

.contenido{
  grid-area: contenido;
  text-align: center;
  font-size: 2em;
}
.footer{
  grid-area: footer;
  text-align: center;
  display: grid;
  justify-content: center;
    
}
.footer a{
    background: #41489f;
    border-radius: 5px;
    border: 1px solid #41489f;
    color: #edeef6;
    vertical-align: inherit;
    padding: 15px;
    margin-bottom: 5px;
}
.header-generos{
  display: grid ;
  grid-template-columns: minmax(auto, 1024px);
  justify-content: center;
  padding: 32px 15px;
  background: #edeef6;
  text-align: center;
  
}

.header-generos-menu{ 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.header-generos-menu a{
  font-size: 32px;
  font-weight: bold;
  border-bottom: 2px solid #edeef6;
  margin: 15px;
  padding-left: 33px;
}
.contenido-generos h2{
  display: initial;
  
}
.contenido-generos{
  display: inline-grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
}
/* .item-left{
  border: 1px solid black;
  background: #65db6f;
}
.item-right{
  border: 1px solid black;
  background: #6597db;
} */
.item-left1{
  border: 1px solid black;
  background: #65db6f;
  color: white;
  padding: 10px 0;
}

.item-left2{
  border: 1px solid black;
  background: black;
  color: white;
  padding: 10px 0;
}
.item-left3{
  border: 1px solid black;
  background: #6597db;
  color: white;
  padding: 10px 0;
}
.item-left4{
  border: 1px solid black;
  background: #727272;
  color: white;
  padding: 10px 0;
}
.item-right1{
  border: 1px solid black;
  background: #ce6262;
  color: white;
  padding: 10px 0;
}

.item-right2{
  border: 1px solid black;
  background: #e0b62b;
  color: white;
  padding: 10px 0;
}
.item-right3{
  border: 1px solid black;
  background: #65db6f;
  color: white;
  padding: 10px 0;
}
.item-right4{
  border: 1px solid black;
  background: black;
  color: white;
  padding: 10px 0;
}
.footer-menu{
  grid-area: 'footer footer';
  margin-top: 15px;
  background: #41489f;
  height: 100px;
}
.footer-menu-all{
  width: 100%;
}
.footer-menu-all a{
  display: grid;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  color: white;
  background: white;
  position: absolute;
  justify-content: center;
}
.footer-botton{
  display: inline-block;
  margin: 0 45px;
 
}
.footer-menu-all p{
  margin-top: 50px;
  
}