<div class="container">
  <div class="icons">
    <div class="icon" (click)="navigate('')">
      <div class="circle"></div>
      <h1>Inicio</h1>
    </div>
    <div class="icon" (click)="navigate('give')">
      <div class="circle"></div>
      <h1>Recomendar</h1>
    </div>
    <div class="icon" (click)="navigate('send')">
      <div class="circle"></div>
      <h1>Pedir</h1>
    </div>
    <div class="icon">
      <div class="circle"></div>
      <h1>Mensajes</h1>
    </div>
  </div>
</div>
