.container{
  background-color: #e8e8e8;
  min-height: 100vh;
}

.card-container{
  padding: 20px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  text-align: center;
  margin: 0 auto;
  align-content: center;
  height: 100%;
  margin-bottom: 50px;
}

.options{
  padding-top: 10px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #5853d3;
  h1{
    font-size: 24px;
    color: #5853d3;
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .active {
    font-weight: bold;
  }
}
